__pycache__/
*.pyc
.native-upstream/
ps5-relapse-autoloader-installer.elf
ps5-relapse-autoloader-installer.elf.sha256
ps5-relapse-autoloader-installer.0.1.elf
ps5-relapse-autoloader-installer.0.1.elf.sha256
